---
import DefaultLayout from "@layouts/default.astro";

const djangoContext = Astro.locals.django?.context;

---
<DefaultLayout>
  <p>This is an example of a template.</p>
  <p>Received request context:</p>
  <p><pre><code>{JSON.stringify(djangoContext)}</code></pre></p>
</DefaultLayout>
